nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 20px 70px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.46);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.gradientText {
  background: linear-gradient(270deg, #7e2d2d, #ff0404 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 26px;
  font-weight: 800;
  font-style: italic;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.gradientText i {
  font-size: inherit;
  color: inherit;
  margin-left: 6px;
}

.navbarLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbarLinks li {
  padding: 0 10px;
  position: relative;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  width: max-content;
  transition: ease-in-out 0.3s;
}

.navbarLinks li a {
  color: white;
  cursor: pointer;
}

.navbarLinks li:hover,
.navbarLinks li:active {
  color: red;
}

.navbarLinks li::after {
  content: "";
  background: linear-gradient(to right, red, black);
  border-radius: 100px;
  height: 4px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: ease-in-out 0.4s;
}

.navbarLinks li:hover::after,
.navbarLinks li:active::after {
  width: 100%;
}

.mobile {
  display: none;
}

.mobile {
  color: white;
}

.btn {
  background: linear-gradient(270deg, #7e2d2d, #ff0404 60%);
  padding: 4px 20px;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  background-size: 200% 200%;
  background-position: right;
  color: white;
  transition: background-position 0.3s ease-in-out;
}

.btn:hover {
  background-position: left;
}

.user {
  height: 40px;
  cursor: pointer;
  margin-left: 1em;
}

.user img {
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.subWrap {
  position: absolute;
  top: 100%;
  right: 4%;
  width: 420px;
  max-height: 0px;
  overflow: hidden;
  transition: ease-in-out 0.3s;
}

.subMenu {
  background: black;
  padding: 20px;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
}

.userInfo {
  display: flex;
  align-items: center;
  color: white;
}

.userInfo img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-right: 9px;
}

.subMenu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.subMenuLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.subMenuLink P {
  width: 90%;
  color: white;
  font-weight: 400;
}

.subMenuLink span {
  font-size: 29px;
  transition: 0.3s ease-in-out;
}

.subMenuLink:hover span {
  transform: translateX(5px);
}

.subMenuLink:hover p {
  font-weight: 600;
}

.subMenuLink i {
  color: inherit;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  padding: 10px;
  margin-right: 8px;
  background-color: #e5e4e2;
}

.activePofile {
  max-height: 1000px;
}

@media screen and (max-width: 768px) {
  .navbarLinks {
    background: black;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 60px;
    right: -300px;
    width: 250px;
    height: 100vh;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 30px 0 0 10px;
    transition: ease-in-out 0.3s;
    z-index: 999;
  }

  .userInfo {
    flex-direction: column;
  }

  .userInfo img {
    margin-right: 0;
  }

  .navbarLinks.active {
    right: 0;
  }

  .mobile {
    display: block;
    cursor: pointer;
  }

  .navbarLinks li {
    margin-bottom: 5px;
    padding-left: 50px;
    width: 90%;
  }

  .btn {
    margin-bottom: 25px;
    padding-left: 50px;
    width: 90%;
  }

  .user {
    display: none;
  }

  .subMenu hr {
    margin: 1px 0 10px;
  }

  .subWrap {
    position: relative;
    top: 7%;
    right: 4%;
    width: 260px;
    max-height: 100%;
  }
  .subMenuLink {
    margin: 2px 0;
  }

  .subMenuLink P {
    width: 100%;
  }

  .userInfo img {
    width: 40px;
    height: 40px;
  }

  .userInfo h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 435px) {
  .subWrap {
    top: 1%;
  }
}
